
.gwt-DialogBox .gwt-Button{
    padding: 2px 7px 2px 7px;
}



.tableStyle td{
  padding: 5px 20px 5px 20px;
  text-align: center;
}
.tableStyle > tbody > tr:first-child{
  background: antiquewhite; /* Цвет фона таблицы */
  color: black; /* Цвет текста */
}

.newContract > tbody td{
  padding: 5px 5px 5px 5px;
  height: 20px;
  width: 130px;
  text-align: center;
}

.mrg {
  margin-right: 5px;
}

.gwt-DialogBox .gwt-TextBox, .gwt-DialogBox .gwt-ListBox, .gwt-DialogBox .gwt-DateBox {
    height: 15px;
    padding: 0 5px 0 5px;
}

.description {
    color: #499cff;
    font-size: 10px;
}

.comment {
    width: 100px;
    height: 80px;
}

.headers {
    font-weight: bold;
}

.clientsTable {
    width: 540px;
}

.button {

}